.dialogsWrapper {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.dialogs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


