.post
{

}
.form
{

}
.text
{
    border: none;
    padding: 5px;
    color: #eeeeee;
    background-color: rgba(19, 139, 105, 0.47);
    border-radius: 5px;
}
.text::placeholder
{
    color: rgba(238, 238, 238, 0.68);
}
.button
{

}